TABLE {
    width: 100%;
}

.menu {
    float: left;
    width: 25%;
    padding: 5px;
    text-align: left;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 1.2) 0px 1px 3px;
}
.menu a{
    width: 100%;
}
.menu p{
    word-break: break-all;
}

.table1 {
    width: 72%;
    float: right;

}

.table1 img {
    object-fit: contain;
}

.table2 {
    border-radius: 15px;
    width: 65%;

    float: left;
}

.table3 {
    width: 72%; /* Ширина таблицы */
}

.buttonMenu1 {
    width: 28%;
}

.buttonMenu {
    width: 310px;
}

.table1 th {
    overflow: hidden;
}

.table1 img:hover {
    transition: transform 0.5s;
    transform: scale(1.5);
}

.range-filter {
    padding-top: 10px;
    width: 240px;
    margin: auto;
    margin-bottom: 10px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #34495e;
    border-radius: 5px;
    overflow: hidden;
}

.scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.bar {
    height: 2px;
    background: #00ca74;
}

.toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
}

.min-toggle {
    left: 70px;
}

.max-toggle {
    left: 165px;
}

.price-controls input {
    width: 55px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #34495e;
    font-size: 16px;
    font-family: "Tahoma", sans-serif;
    text-align: center;
    color: #283136;
    border-radius: 5px;
    color: white;
}

.min-price {
    margin-right: 14px;
}

.block1 {
    width: 50%;
    height: 25%;
    background: #ccc;
    border: solid 1px black;
    float: left;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.block2 {
    width: 72%;
    height: 16%;
    background: #a6e1ec;
    border: solid 1px black;
    float: right;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.block3 {
    width: 72%;
    height: 16%;
    float: right;
    align-content: center;
    scroll-behavior: smooth;
}

.block4 {
    width: 35%;
    height: 10%;
    float: right;
    align-content: center;
    scroll-behavior: smooth;
}

.block5 {
    width: 35%;
    height: 10%;
    float: left;
    align-content: center;
    scroll-behavior: smooth;
}

.block6 {
    width: 72%;
    height: 10%;
    background: #a6e1ec;
    border: solid 1px black;
    float: right;

}

body {
    padding: 10px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.input1 {
    max-width: 330px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    height: auto;
}

#userform {
    margin-left: 380px;
    width: 500px;

}

#userform input, #userform select {
    float: right;
    width: 45%;
    margin-right: 20%;
}

#userform span {
    display: block;
    line-height: 25px;
}

#slider-range {
    float: none;
}

.pictureItem {
    width: 20%;
    float: left;
}

.pictureItem img{
    object-fit: contain;
}

.infoItem {
    padding-left: 20px;
    width: 40%;
    float: left;
}

.comments{
    padding-left: 20px;
    width: 40%;
    height: 100%;
    float: right;
}

.comments h3{
    margin-bottom: 60px;
}

.comment{

}

.sendComment{
    width:50%;

}
.sendComment p{
}